.navbar-nav a {
    font-size: 1.1rem;
}

.navbar-nav a:hover {
    color: #000;
}

.navbottom {
    padding-block: 10rem;
    background-image: linear-gradient(to bottom, #212529 60%, #fff);
}

/* #intro-title {
    font-size: 2.9rem;
    font-weight: 700;
} */
#intro {
    color: #fff;
    font-size: 1.3rem;
    font-weight: 400;
}

.intro-img {
    height: 25rem;
    width: 40rem;
}

.brandcolor {
    color: #ee3768;
}

.button {
    height: 2.5rem;
    width: 8rem;
    background-color: #ee3768;
    border-radius: 0.5rem;
    color: #fff;
    font-size: 1.2rem;
    border-width: 0rem;
    margin-top: 1rem;
}

.button:hover {
    background-color: #212529;
}

.headertitle {
    font-size: 5rem;
    font-weight: 700;
}

.headerproduct {
    font-size: 5rem;
    font-weight: 700;
}

/* .features {
    padding-bottom: 10rem;
} */
.products {
    padding-bottom: 5rem;
}

.cards {
    height: 25rem;
    width: 20rem;
    overflow: hidden;
}

.survey-img {
    height: 100%;
    width: 100%;
}

.feature-description {
    height: 25rem;
    position: relative;
    background-color: #1ba299b3;
    bottom: 4rem;
    transition: 1s;
}

.product-description {
    height: 25rem;
    position: relative;
    background-color: #ed3566cc;
    bottom: 4rem;
    transition: 1s;
}

.featuretitle {
    align-self: center;
    font-size: 1.7rem;
    font-weight: 600;
}

.info {
    font-size: 1.1rem;
    padding-top: 1rem;
    visibility: hidden;
    color: #fff;
}

.cards:hover .feature-description {
    bottom: 25rem;
}

.cards:hover .product-description {
    bottom: 25rem;
}

.cards:hover .info {
    visibility: visible;
}

.formholder {
    background-image: linear-gradient(to bottom, #212529 40%, #abacae);
    padding-top: 10rem;
}

#contact-card-img {
    height: 20rem;
    object-fit: cover;
}

#privacypolicy-card-img {
    height: 20rem;
    object-fit: cover;
}

.contact-card-overlay {
    /* background-image: linear-gradient(to bottom, #2125294f 50%, #ffffff5d); */
    background-color: #0000006f;
}

#card_img {
    height: 16rem;

}

.form {
    background-image: linear-gradient(to bottom, #abacae, #ffffff);
}

.footer {
    font-size: 0.9rem;
}

#connect-worker-img {
    height: 15rem;
    object-fit: cover;
}

.connectworker-title {
    font-size: 2.5rem;
    background-color: #0000007e;
}

.connect-worker {
    background-color: #ee3768;
    position: relative;
    bottom: 1.5rem;
}

#headoffice {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

#branchoffice {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.trynow-btn {
    height: 2.5rem;
    width: 8rem;
    background-color: #000000;
    border-radius: 0.5rem;
    color: #fff;
    font-size: 1.2rem;
    border-width: 0rem;
    margin-top: 1rem;
    text-align: center;
}

.trynow-btn:hover {
    background-color: #ffffff80;
    color: #000;
}

.signup-btn {
    height: 2.5rem;
    width: 8rem;
    background-color: #ee3768;
    border-radius: 0.5rem;
    color: #fff;
    font-size: 1.2rem;
    border-width: 0rem;
    margin-top: 1rem;
    text-align: center;
    margin-block: 3rem;
}

.contactus-btn {
    height: 2.5rem;
    width: 8rem;
    background-color: #ffffff;
    border-radius: 0.5rem;
    color: #000000;
    font-size: 1.2rem;
    border-width: 0rem;
    margin-top: 1rem;
    text-align: center;
    margin-block: 3rem;
}

.signup-btn:hover {
    background-color: #212529;
}

.contactus-btn:hover {
    background-color: #212529;
    color: #ffffff;
}

.description_justify {
    text-align: justify;
}


.policy-content {
    font-weight: 500;
    text-decoration: none;
    color: #000;
}

.list-group li {
    padding-bottom: 0.5rem;
}

.back-to-top {
    position: sticky;
    bottom: 2rem;
}

.backtotop-btn {
    background-color:#ee3768;

}
@media (min-width: 992px) {
    #card_img {
        height: 100%;
    }
}

@media (min-width: 720px) {

    .connect-worker {
        bottom: 8rem;
    }

    #connect-worker-img {
        height: 20rem;
    }

    .connectworker-title {
        font-size: 3rem;
    }

    #headoffice {
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
        border-top-right-radius: 0rem;
    }

    #branchoffice {
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
        border-bottom-left-radius: 0rem;
    }

    .sidebar {
        position: sticky;
        top: 5rem;
    }
.back-to-top {
    visibility: hidden;
}
}